<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Group detail</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment="body">
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder" th:text="${group.title}"></h1>
        <p class="lead mb-0" th:text="${group.content}"></p>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" th:src="${group.photoUrl}" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted" th:text="${group.createdOn}"></div>
            <h2 class="card-title">About this study group</h2>
            <p class="card-text" th:text="${group.content}"></p>
            <div th:if="${user.id} == ${group.createdBy.id}">
              <a class="btn btn-primary" th:href="@{/groups/{groupId}/delete(groupId=${group.id})}">Delete</a>
              <a class="btn btn-primary" th:href="@{/lessons/{groupId}/new(groupId=${group.id})}">Create lesson</a>
              </div>
          </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div th:each="lesson :${group.lessons}" class="card mb-4">
              <a href="#!"><img class="card-img-top" th:src="${lesson.photoUrl}" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2022</div>
                <h2 th:text="${lesson.name}" class="card-title h4"></h2>
                <a class="btn btn-primary" th:href="@{/lessons/{lessonId}(lessonId=${lesson.id})}">More</a>
                <a th:href="@{/lessons/{lessonId}/edit(lessonId=${lesson.id})}" class="btn btn-primary">edit</a>

              </div>
            </div>
            <!-- Blog post-->
          </div>
        </div>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
          <div class="card-header">Search</div>
          <div class="card-body">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for lessons..." aria-label="Enter search term..." aria-describedby="button-search" />
              <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>